#navbar{
    position: fixed;
    background-color: gray;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 100%;
}

#logo{
    position: relative;
    background-color: black;
    top: 10px;
    width: 35px;
    color: aliceblue;
    margin: 5px 15px;
}

.rest{
    color: red;
    background-color: blue;
    height: 100%;
    width: 100%;
}